<div *ngIf="exams?.length > 0">
  <div class="row">
    <table class="table">
      <tr>
        <th style="width: 20%">Exam</th>
        <th style="width: 20%">Author</th>
        <th style="width: 30%">Description</th>
        <th style="width: 10%"></th>
        <th style="width: 20%">Date Published</th>
      </tr>
      <tr *ngFor="let exam of exams">
        <td>{{ exam.name }}</td>
        <td>{{ exam.authorKnownAs }}</td>
        <td>{{ exam.description }}</td>
        <td>
          <button class="btn btn-info" (click)="showPasswordModal(exam.id, passwordTemplate)">
            Enroll
          </button>
        </td>
        <td>{{ exam.datePublished | date: 'mediumDate' }}</td>
      </tr>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.pageSize"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
<div *ngIf="exams?.length == 0">No tests available</div>

<ng-template #passwordTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Enter password for {{examToEnroll.name}}</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="passwordModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #passwordForm="ngForm">
      <input
        type="password"
        name="password"
        class="form-control mr-sm-2"
        [(ngModel)]="examToEnrollPassword"
        placeholder="Password"
        required
      />
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="passwordModalRef.hide()">Cancel</button>
    <button
      type="button"
      class="btn btn-success"
      (click)="enrollToExam()"
      [disabled]="!examToEnrollPassword"
      form="passwordForm"
    >
      Enroll
    </button>
  </div>
</ng-template>
