<div class="modal-header">
  <h4 class="modal-title pull-left">Choose exams to delete</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form #examsForm="ngForm" id="examsForm">
    <div class="form-check" *ngFor="let exam of exams">
      <input
        type="checkbox"
        class="form-check-input"
        value="{{ exam.name }}"
        [checked]="exam.delete"
        (change)="exam.delete = !exam.delete"
      />
      <label>{{ exam.name }}</label>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" class="btn btn-success" (click)="updateExams()" form="examsForm">
    Delete
  </button>
</div>
