mat-icon.material-icons.mat-icon-no-color {
  color: white;
}
ngc-float-button {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
ngc-float-button /deep/ .fab-toggle {
  color: white;
  background-color: #18bc9c;
}

ngc-float-button /deep/ .fab-toggle:hover {
    color: #2c3e50;
}

ngc-float-item-button /deep/ .content {
  text-transform: capitalize;
}
ngc-float-item-button /deep/ .fab-item {
  color: white;
  background-color: #2c3e50;
}
ngc-float-item-button /deep/ .fab-item:hover {
  color: #18bc9c;
}
