<div class="container mt-5">
  <div class="tab-panel">
    <tabset class="member-tabset">
      <tab heading="Available Tests">
        <div class="container"><app-exams-list></app-exams-list></div>
      </tab>
      <tab heading="Enrolled Tests" (select)="onSelectEnrolledExams()">
        <div class="container"><app-exams-enrolled></app-exams-enrolled></div>
      </tab>
    </tabset>
  </div>

</div>
  <ngc-float-button icon="add" color="" *appHasRole="['Teacher']">
    <ngc-float-item-button icon="delete" content="Delete Exam" color=""></ngc-float-item-button>
    <ngc-float-item-button icon="create" content="Create Exam" color="" [routerLink]="['/exams/create']"></ngc-float-item-button>
  </ngc-float-button>
